<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <style>
    p     { display: table-row; }
    label { display: table-cell; width: 100px; }
    input { display: table-cell; }
</style>
 <title>LOGIN</title>
</head>
<body>

<h1>Please login to your account</h1>
<form method="post">
    <div>
        {{ with .errorUserAndPassword}}
        <p>{{ . }}</p>
        {{ end }}
    </div>
<p>
    <label for ="username">Username:</label>
    <input type="text" name="username"><br>
</p>
<p>
    <label for ="password">Password:</label>
    <input type="password" name="password"><br>
</p><br>
 <input type="submit">
</form>
<h2>Or <a href="/signup">Sign Up</a> if you do not have an account</h2>

</body>
</html>
