<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Contract Management System</title>
</head>
<body>
<h1>Directory</h1>
{{ with .bizrequester}}
<a href="/createrequest"><p>Create a request</p></a>
<a href="/viewrequeststatus"><p>View request status</p></a>
{{end}}
{{ with .bizowner}}
<a href="/reviewrequest"><p>Review request</p></a>
<a href="/viewreviewedrequest"><p>View reviewed request</p></a>
{{end}}
{{ with .legal}}
<a href="/upload"><p>Upload Contract</p></a>
<a href="/approvedcontractrequests"><p>View approved contract requests</p></a>
<a href="/viewdraftstatus"><p>View contract draft status</p></a>
{{end}}
{{ with .financetax}}
<a href="/fintax"><p>Review request</p></a>
<a href="/viewreviewedrequest"><p>View reviewed request</p></a>
{{end}}
{{ with .contractadmin}}
<a href="/reviewcontractvalue"><p>Review contract value</p></a>
<a href="/contractsignature"><p>Check for signatories</p></a>
<a href="/archive"><p>Archive Signed Contracts</p></a>
{{end}}
{{ with .signatory}}
<a href="/showcontracts"><p>Show/Upload contracts</p></a>
{{end}}
<h2><a href="/">Home page</a></h2>
<h2><a href="/logout">Log Out</a></h2>
</body>
</html>