<!-- template form is taken from https://tutorialedge.net/golang/go-file-upload-tutorial/-->
<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Upload contract</title>
</head>
<body>
<h1>Welcome to the Contract Management System!</h1>
<table>
    <tr>
        <th>Request ID</th>
        <th>Requester User</th>
        <th>Signing Entity</th>
        <th>CounterpartyName</th>
        <th>Business</th>
        <th>Contract Type</th>
        <th>Contract Value</th>
        <th>Region</th>
        <th>Effective Date</th>
        <th>Termination Date</th>
        <th>Background/Purpose<th>
        <th>Counterparty Contact Info</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Requester}}</td>
        <td>{{.SigningEntity}}</td>
        <td>{{.CounterpartyName}}</td>
        <td>{{.Business}}</td>
        <td>{{.ContractType}}</td>
        <td>{{.ContractValue}}</td>
        <td>{{.Region}}</td>
        <td>{{.EffectiveDate}}</td>
        <td>{{.TerminationDate}}</td>
        <td>{{.BackgroundPurpose}}</td>
        <td>{{.CounterpartyContactInfo}}</td><br>
    </tr>
</table>
{{end}}
<br>
<h2>Please upload the contract</h2>
<form 
    enctype="multipart/form-data"
    action="https://127.0.0.1:5000/upload"
    method="POST"
>
    <select name="contractrequestid">
    <option disabled selected value="">Enter request ID</option>
    {{range .}}
    <option value="{{.ID}}">{{.ID}}</option>
    {{end}}
    </select><br>   
    <input type="file" name="myFile"/>
    <input type="submit" value="Upload">
</form>

<h3>Or <a href="/signup">Sign Up</a> if you do not have an account</h3>
</body>
</html>