<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Email list</title>
</head>
<body>
<h1>Email List</h1>
<h2>Please select the email that corresponds to the action owner that you want to chase.</h2>
<form method="POST">
    <select name="email">
        <option disabled selected value="">Email</option>
        {{range .}}
        <option value="{{.}}">{{.}}</option>
        {{end}}
        </select><br> 
    <input type="submit">
</form>

<h3><a href="/directory">Home page</a><br>
    <a href="/logout">Log Out</a></h3>

</body>
</html>