<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Email list</title>
</head>
<body>
<h1>Welcome to the Contract Management System!</h1>
<h2>Email list</h2>
<form method="POST">
    <select name="email">
        <option disabled selected value="">Choose the email</option>
        {{range .}}
        <option value="{{.}}">{{.}}</option>
        {{end}}
        </select><br> 
    <input type="submit">
</form>


<h4>Or <a href="/signup">Sign Up</a> if you do not have an account</h4>

</body>
</html>