<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Request Form</title>
</head>
<body>

<h1>Please fill up the request details</h1>
<form method="post">
 <input type="text" name="signingentity" placeholder="Signing Entity"><br>
 <input type="text" name="counterpartyname" placeholder="Counterparty Name"><br>
 <select name="business">
     <option disabled selected value="">Business</option>
     <option value="{{.first}}">{{.first}}</option>
     <option value="{{.second}}">{{.second}}</option>
 </select>
 <input type="text" name="newbusiness" placeholder="New business type (optional)"><br>
 <div>
    {{ with .nobusiness}}
    <p>{{ . }}</p>
    {{ end }}
</div>
<div>
    {{ with .duplicatebusiness}}
    <p>{{ . }}</p>
    {{ end }}
</div>
 <input type="text" name="contracttype" placeholder="Contract Type"><br>
 <input type="text" name="contractvalue" placeholder="Contract Value"><br>
 <div>
    {{ with .input0}}
    <p>{{ . }}</p>
    {{ end }}
</div>
 <input type="text" name="businessowner" placeholder="Business Owner"><br>
 <div>
    {{ with .input1}}
    <p>{{ . }}</p>
    {{ end }}
</div>
<input type="text" name="region" placeholder="Region"><br>
<input type="text" name="effectivedate" placeholder="Effective Date"><br>
<input type="text" name="terminationdate" placeholder="Termination Date"><br>
<input type="text" name="backgroundpurpose" placeholder="Background and Purpose"><br>
<input type="text" name="counterpartycontactinfo" placeholder="Counterparty Contact Information"><br>

 <input type="submit">
</form>
<h2>Or <a href="/signup">Sign Up</a> if you do not have an account</h2>
</body>
</html>