<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>LOGIN</title>
</head>
<body>

<h1>Please fill up the request details</h1>
<form method="post">
 <input type="text" name="signingentity" placeholder="Signing Entity"><br>
 <input type="text" name="counterpartyname" placeholder="Counterparty Name"><br>
 <input type="text" name="business" placeholder="Business"><br>
 <input type="text" name="businessowner" placeholder="Business Owner"><br>
 <input type="submit">
</form>
<h2>Or <a href="/signup">Sign Up</a> if you do not have an account</h2>
</body>
</html>