<!-- template form is taken from https://tutorialedge.net/golang/go-file-upload-tutorial/-->
<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Upload signed contract</title>
</head>
<body>
<h1>Welcome to the Contract Management System!</h1>
<h2>List of files to be downloaded and signed</h2>
{{range .}}
<table>
    <tr>
        <th>Contract Id</th>
        <th>Download Link</th> 
        <th>Senior Finance Approval Required</th>   
    </tr>
    <tr>
        <td>{{.ID}}</td>
        <td><a href="file://smu/Desktop/Go/go/src/Apprentice/Go-Apprenticeship/goapp/{{.}}">{{.Contract}}</a></td>
        <td>{{.SeniorFinance}}</td>
    </tr>
</table>
{{end}}
<h3>Please upload the contract</h3>
<form 
    enctype="multipart/form-data"
    action="https://127.0.0.1:5000/showcontracts"
    method="POST"
>
    <input type="file" name="myFile"/>
    <input type="text" name="contractrequestid" placeholder="Key in contract ID"><br>
    <input type="submit" value="upload"/>
</form>

<h4>Or <a href="/signup">Sign Up</a> if you do not have an account</h4>
</body>
</html>