<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <style>
    table, th, td { padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: white; color: black; border: 1px solid black; border-collapse: collapse; }
    p     { display: table-row; }
    label { display: table-cell; width: 220px; }
    input { display: table-cell; }
</style>
 <title>Upload signed contract</title>
</head>
<body>
<h1>Review Contract Request(s)</h1>
<h2><p><u><b>Contract request(s) that require signing</h2></b></u></p>
<table>
    <tr>
        <th>Contract Id</th>
        <th>Download Link</th> 
        <th>Senior Finance Approval Required</th>   
    </tr>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td><a href="https://127.0.0.1:5000/readfile?filename={{.Contract}}">{{.Contract}}</a></td>
        <td>{{.SeniorFinance}}</td>
    </tr>
    {{end}}
</table>
<h2>Please upload the contract</h2>
<form 
    enctype="multipart/form-data"
    action="https://127.0.0.1:5000/upload"
    method="POST"
>
<p>
    <label for ="contractrequestid">Contract Request ID:</label>
    <select name="contractrequestid">
        <option disabled selected value="">Enter request ID</option>
        {{range .}}
        <option value="{{.ID}}">{{.ID}}</option>
        {{end}}
    </select><br>
</p>     
    <input type="file" name="myFile"/>
    <input type="submit" value="Upload">
</form>

<h3><a href="/directory">Home page</a><br>
    <a href="/logout">Log Out</a></h3>
</body>
</html>